
  <div *ngIf="isShown === false" class="input-search">

  <form>
    <mat-form-field>
      <mat-label>Employee ID</mat-label>
      <input matInput #query type="text" name="query" />
    </mat-form-field>

    <button mat-button (click)="getData(query.value)">
      <mat-icon>search</mat-icon>
    </button>
  
  </form>
</div>

  <div *ngIf="isShown === true">
    <button mat-button color="primary" (click)="getHome()">
      <mat-icon>home</mat-icon>
    </button>

  <mat-table mat-table [dataSource]="dataSource" multiTemplateDataRows>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>
        ID
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.id }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contractTypeName">
      <mat-header-cell *matHeaderCellDef>
        ContractTypeName
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.contractTypeName }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roleId">
      <mat-header-cell *matHeaderCellDef>
        RoleID
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.roleId }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roleName">
      <mat-header-cell *matHeaderCellDef>
        RoleName
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.roleName }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hourlySalary">
      <mat-header-cell *matHeaderCellDef>
        HourlySalary
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.hourlySalary | currency }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="monthlySalary">
      <mat-header-cell *matHeaderCellDef>
        MonthlySalary
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.monthlySalary | currency }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="annualSalary">
      <mat-header-cell *matHeaderCellDef>
        AnnualSalary
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.annualSalary | currency }}
      </mat-cell>
    </ng-container>

    

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</div>